<div class="ui grid">
  <div class="row">
    <div class="sixteen wide column" style="background-color: rgb(80, 152, 199); height: 60px;">
      <img src="../../assets/logo.png" alt="logo" style="height: 60px;"></div>
    <div class="sixteen wide column" style="background-color: rgb(163, 203, 250); height: 35px; display: inline-block">
        <div class="right floated mini ui yellow button" style="margin: 3px 10px;"><i class="ui cart icon"></i></div>
        <div class="right floated mini ui yellow button" style="margin: 3px 10px;">Zaloguj</div>
    </div>
  </div>
</div>