<div class="ui centered grid">
  <div class="ui small input" style="margin-top: 10px;"><input [(ngModel)]="searchPhrase" (input)="searchPhraseChanged()" type="text" placeholder="Wyszukaj..."></div>  
  <div class="eight columncentered row main"><app-sticker (window:resize)="adjustPage()" *ngFor="let picture of filteredPictures | paginate: { itemsPerPage: picturesPerPage, currentPage: p }" [picture]="picture"></app-sticker></div>
  <pagination-controls (pageChange)="p = $event" nextLabel="Następna" previousLabel="Poprzednia"></pagination-controls>
</div>